function Main.main 3
push constant 10
pop local 0
push constant 20
pop local 1
push local 1
push constant 2
call Math.multiply 2
pop temp 0
push local 0
push temp 0
add
pop temp 1
push temp 1
pop local 2
push local 2
call Output.printInt 1
pop temp 0
call Keyboard.readInt 0
pop local 0
push local 0
call Output.printInt 1
pop temp 0
push constant 0
return
